/* = = = all = = = */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body{
    background-color: rgb(254, 238, 216);
}

/* = = = header = = = */
header{
    background-color: rgb(69, 62, 53);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: -webkit-fill-available;
    padding: 18px 36px;
    z-index: 100;
}

.header__image{
    height: 36px;
}

.header__link{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 12px;
}

/* = = = firstview = = = */
#firstview{
    margin-top: 72px;
    height: calc(100vh - 72px);
    position: relative;
}

.firstview__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.firstview__title{
    position: absolute;
    bottom: 48px;
    left: 36px;
    font-size: 64px;
    line-height: 1;
}


/* = = = introduction = = = */
.introduction{
    padding-top: 72px;
}

.introduction__content{
    position: relative;
    height: 420px;
    margin: 120px auto;
}

.introduction__image{
    width: 560px;
    height: 420px;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.introduction__image--left{
    left: 15vw;
}

.introduction__image--right{
    right: 15vw;
}

.introduction__textblock{
    position: absolute;
    padding: 48px;
    width: 360px;
    height: 300px;
    top: 60px;
    background-color: rgb(255, 255, 255);
}

.introduction__textblock--left{
    left: calc(15vw + 500px);
}

.introduction__textblock--right{
    right: calc(15vw + 500px);
}

.introduction__title{
    font-weight: bold;
    font-size: 24px;
    z-index: 2;
    margin-bottom: 12px;
}

.introduction__title--bg{
    position: absolute;
    color: rgba(70, 39, 8, 0.4);
    font-size: 28px;
    top: 24px;
    z-index: 1;
    font-family: 'Inconsolata', monospace;
}

.introduction__title--bg--left{
    text-align: right;
    right: 24px;
}

.introduction__title--bg--right{
    left: 24px;
}

/* = = = footer = = = */

footer{
    background-color: rgb(69, 62, 53);
    padding: 24px;
}

.footer__image{
    display: block;
    margin: auto;
    width: 144px;
}

/* 画面が小さくなった場合 */
@media (max-width: 1023px) {
    header{
        padding: 4px 16px;
    }

    .header__link{
        font-size: 12px;
        margin: 0;
    }

    #firstview{
        margin-top: 44px;
        height: calc(100vh - 44px);    
    }

    .firstview__title{
        font-size: 48px;
        left: 12px;
    }

    .introduction__content{
        height: max-content;
    }

    .introduction__image{
        width: 72vw;
        height: 56vw;
        position: relative;
        margin: auto;
        right: unset;
        left: unset;
        display: block;
    }

    .introduction__textblock{
        background-color: unset;
        position: relative;
        top: unset;
        width: 72vw;
        margin: auto;
        padding: 0;
        left: unset;
        right: unset;
        height: max-content;
    }

    .introduction__title{
        margin-bottom: 24px;
    }

    .introduction__title--bg{
        right: 0;
        left: unset;
    }
}

/* スマホの場合 */
@media (max-width: 519px) {
    .firstview__title{
        font-size: 32px;
    }

    .introduction__image{
        width: 90vw;
        height: 67.5vw;
    }

    .introduction__textblock{
        width: 90vw;
    }
}